/* Check */
QCheckBox::indicator:checked#form-check {
    image: url(":/assets/images/baseline_check_box_blue_24dp.png");
}

QCheckBox::indicator:checked:disabled#form-check {
    image: url(":/assets/images/baseline_check_box_disabled_blue_24dp.png");

}


QCheckBox::indicator:indeterminate#form-check {
    image: url(":/assets/images/baseline_indeterminate_check_box_black_24dp.png");
}

QCheckBox::indicator:indeterminate:disabled#form-check {
    image: url(":/assets/images/baseline_indeterminate_check_box_disabled_blue_24dp.png");
}


QCheckBox::indicator:unchecked#form-check {
    image: url(":/assets/images/baseline_check_box_outline_blue_black_24dp.png");
}

QCheckBox::indicator:unchecked:disabled#form-check {
    image: url(":/assets/images/baseline_check_box_outline_disabled_blue_black_24dp.png");
}


/* Switch */
QCheckBox::indicator:checked#form-switch {
    image: url(":/assets/images/baseline_toggle_on_blue_36dp.png");
}

QCheckBox::indicator:checked:disabled#form-switch {
    image: url(":/assets/images/baseline_toggle_on_disabled_blue_36dp.png");
}

QCheckBox::indicator:unchecked#form-switch {
    image: url(":/assets/images/outline_toggle_off_blue_36dp.png");
}

QCheckBox::indicator:unchecked:disabled#form-switch {
    image: url(":/assets/images/outline_toggle_off_disabled_blue_36dp.png");
}
